# Refer to https://github.com/github/gitignore

## SVN ##
/.svn/*
*/.svn/*

## CakePHP ##
tmp/*
Config/core.php
Config/database.php
webroot/cache_css/*
webroot/cache_js/*
webroot/uploads/*
app/tmp/*
app/Config/database.php
vendors/simpletest
!empty

## Operating Systems ##

# OSX #
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Windows #
Thumbs.db 
Desktop.ini

# Linux #
.directory

## IDEs ##

# NetBeans #
nbproject/

# TextMate #
*.tmproj
*.tmproject
tmtags

# Eclipse #
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.cproject

# Komodo #
*.komodoproject

# E Texteditor #
.eprj
