[submodule "plugins/linkedin"]
	path = plugins/linkedin
	url = git@github.com:ProLoser/CakePHP-LinkedIn.git
[submodule "plugins/github"]
	path = plugins/github
	url = git@github.com:ProLoser/CakePHP-Github.git
[submodule "plugins/codaset"]
	path = plugins/codaset
	url = git@github.com:ProLoser/Cakephp-Codaset.git
[submodule "vendors/php-github-api"]
	path = vendors/php-github-api
	url = git://github.com/ornicar/php-github-api
[submodule "plugins/batch"]
	path = plugins/batch
	url = git@github.com:ProLoser/CakePHP-Batch.git
[submodule "plugins/debug_kit"]
	path = plugins/debug_kit
	url = git://github.com/cakephp/debug_kit.git
[submodule "plugins/lazy_model"]
	path = plugins/lazy_model
	url = git://github.com/Phally/lazy_model.git
[submodule "plugins/linkable"]
	path = plugins/linkable
	url = git://github.com/rafaelbandeira3/linkable.git
[submodule "plugins/rss"]
	path = plugins/rss
	url = git://github.com/ProLoser/CakePHP-RSS-Datasource.git
[submodule "plugins/flickr"]
	path = plugins/flickr
	url = git@github.com:ProLoser/CakePHP-Flickr.git
[submodule "plugins/migrations"]
	path = plugins/migrations
	url = git://github.com/CakeDC/migrations.git
[submodule "plugins/apis"]
	path = plugins/apis
	url = git@github.com:ProLoser/CakePHP-Api-Datasources.git
[submodule "plugins/baking_plate"]
	path = plugins/baking_plate
	url = git://github.com/ProLoser/BakingPlate.git
[submodule "plugins/analogue"]
	path = plugins/analogue
	url = git://github.com/joebeeson/analogue.git
[submodule "plugins/asset_compress"]
	path = plugins/asset_compress
	url = git://github.com/markstory/asset_compress.git
[submodule "plugins/navigation"]
	path = plugins/navigation
	url = git://github.com/sams/cakephp-navigation.git
[submodule "vendors/jsmin"]
	path = vendors/jsmin
	url = git://github.com/rgrove/jsmin-php.git
[submodule "plugins/url_cache"]
	path = plugins/url_cache
	url = git://github.com/mcurry/url_cache.git
