[submodule "Plugin/Linkedin"]
	path = Plugin/Linkedin
	url = git://github.com/ProLoser/CakePHP-LinkedIn.git
[submodule "Plugin/Github"]
	path = Plugin/Github
	url = git://github.com/ProLoser/CakePHP-Github.git
[submodule "Plugin/Batch"]
	path = Plugin/Batch
	url = git://github.com/ProLoser/CakePHP-Batch.git
[submodule "Plugin/DebugKit"]
	path = Plugin/DebugKit
	url = git://github.com/cakephp/debug_kit.git
[submodule "Plugin/Linkable"]
	path = Plugin/Linkable
	url = git://github.com/dereuromark/linkable.git
[submodule "Plugin/Rss"]
	path = Plugin/Rss
	url = git://github.com/ProLoser/CakePHP-RSS-Datasource.git
[submodule "Plugin/Flickr"]
	path = Plugin/Flickr
	url = git://github.com/ProLoser/CakePHP-Flickr.git
[submodule "Plugin/Migrations"]
	path = Plugin/Migrations
	url = git://github.com/CakeDC/migrations.git
[submodule "Plugin/Apis"]
	path = Plugin/Apis
	url = git://github.com/ProLoser/CakePHP-Api-Datasources.git
[submodule "Plugin/BakingPlate"]
	path = Plugin/BakingPlate
	url = git://github.com/ProLoser/BakingPlate.git
[submodule "Plugin/AssetCompress"]
	path = Plugin/AssetCompress
	url = git://github.com/markstory/asset_compress.git
[submodule "Vendor/jsmin"]
	path = Vendor/jsmin
	url = git://github.com/rgrove/jsmin-php.git
[submodule "Plugin/Mi"]
	path = Plugin/Mi
	url = git://github.com/AD7six/mi.git
[submodule "webroot/js/mylibs/radmenu"]
	path = webroot/js/mylibs/radmenu
	url = git://github.com/ProLoser/jQuery-Radmenu-Plugin.git
[submodule "Plugin/UploadPack"]
	path = Plugin/UploadPack
	url = git://github.com/ProLoser/uploadpack.git
[submodule "Plugin/Cacheable"]
	path = Plugin/Cacheable
	url = git://github.com/ProLoser/CakePHP-Cacheable.git
[submodule "Plugin/Webservice"]
	path = Plugin/Webservice
	url = git://github.com/josegonzalez/webservice_plugin.git
[submodule "Plugin/Joinable"]
	path = Plugin/Joinable
	url = git://github.com/ProLoser/CakePHP-Joinable.git
[submodule "Plugin/ClearCache"]
	path = Plugin/ClearCache
	url = git://github.com/ceeram/clear_cache.git
[submodule "Plugin/HttpSocketOauth"]
	path = Plugin/HttpSocketOauth
	url = git://github.com/ProLoser/http_socket_oauth.git
[submodule "Plugin/AutoLogin"]
	path = Plugin/AutoLogin
	url = git://github.com/milesj/cake-auto_login.git
[submodule "Plugin/Twitter"]
	path = Plugin/Twitter
	url = git://github.com/ProLoser/CakePHP-Twitter.git
[submodule "Plugin/Jsfiddle"]
	path = Plugin/Jsfiddle
	url = git://github.com/ProLoser/CakePHP-jsFiddle.git
[submodule "Plugin/Closure"]
	path = Plugin/Closure
	url = git://github.com/ProLoser/CakePHP-ClosureBehavior.git