#container {
	padding-left: 0;
}
#main > header {
	margin: 0px;
}
#main article h3 {
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 20px;
}
.faded {
	opacity: 0;
	height: 0;
}
ul.activity {
	list-style: none;
	margin: 0;
}
ul.activity > li {
	margin: 0;
}
header {
	margin-left: 260px;
}
.posts article {
	margin: 20px 0 10px 260px;
}
.type-Project {
	overflow: hidden;
	margin: 0;
}
.type-Album section, .type-Project section {
	overflow: auto;
	margin: -10px -40px 0 222px;
}
.type-Project section {
	margin: 0;
}
.type-Album ul, .type-Project ul {
	padding: 0 40px;
	white-space: nowrap;
	margin: 0;
}
.type-Project ul {
	padding: 0;
}
.type-Album li, .type-Project li {
	padding: 0;
	margin: 0 2px;
	display: inline-block;
}
.type-MediaItem section {
	margin-top: -10px;
}
.type-Album header time {
	margin-top: -42px;
}
.type-Album li a img, .type-MediaItem a img, .type-Project li a img {
	border: 3px solid #000;
	padding: 5px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
     -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
          box-shadow: 0px 0px 5px rgba(0,0,0,.5);
	height: 176px;
}
article.half section {
	float: right;
	margin: -20px 0 0 5px;
}