/*
  HTML5 ? Boilerplate

  style.css contains a reset, font normalization and some base styles.

  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/*
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

@font-face {
    font-family: 'BIRTHOFAHERORegular';
    src: url('birth_of_a_hero-webfont.eot');
    src: url('birth_of_a_hero-webfont.eot?#iefix') format('embedded-opentype'),
         url('birth_of_a_hero-webfont.woff') format('woff'),
         url('birth_of_a_hero-webfont.ttf') format('truetype'),
         url('birth_of_a_hero-webfont.svg#BIRTHOFAHERORegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font: inherit;
  vertical-align:baseline;
}

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */


/* font normalization inspired by  from the YUI Library's fonts.css: developer.yahoo.com/yui/ */
body { text-shadow: 0 1px 2px #fff; font:14px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */
/* Disable Text Shadow for some content */
.fancybox-title-float-main { text-shadow: none; }
select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
/*
 * minimal base styles
 */


body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* headers (h1,h2,etc) have no default font-size or margin. define those yourself. */
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
h2 {
	font-size: 180%;
}

/* always force a scrollbar in non-IE: */
html { overflow-y: scroll; background: url(../img/background.jpg); }


/* accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #933; text-decoration: none; }
a:hover { color: #e11; }


ul, ol { margin-left: 2em; }
ul { list-style-type: circle;}
ol { list-style-type: decimal; }

/* remove margins for navigation lists */
nav ul, nav li { margin: 3px 0 3px 15px; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word;
  padding: 15px;
  background: rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.2);
  border-top-color: rgba(0,0,0,.4);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.3), 0 1px 2px rgba(255,255,255,.3);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.3), 0 1px 2px rgba(255,255,255,.3);
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.3), 0 1px 2px rgba(255,255,255,.3);
  margin: 30px 0 10px;
}
pre:before {
	content: "Code:";
	color: white;
	text-shadow: none;
	font-weight: normal;
	display: block;
	margin: -35px -16px 10px;
	background: rgba(0,0,0,.4);
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 3px 10px;
	font-size: 80%;
	font-weight: bold;
	box-shadow: inset 0 1px 2px rgba(255,255,255,.2);
	-moz-box-shadow: inset 0 1px 2px rgba(255,255,255,.2);
	-webkit-box-shadow: inset 0 1px 2px rgba(255,255,255,.2);
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
      border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }


 /* Primary Styles
    Author: Dean Sofer (ProLoser)
 */
code {
	padding: 0 3px;
	box-shadow: inset 0 0 5px rgba(0,0,0,.5);
	-moz-box-shadow: inset 0 0 5px rgba(0,0,0,.5);
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.5);
	background: rgba(255,255,255,.4);
}
time {
	float: right;
	font-weight: bold;
}
article iframe {
	border: 1px solid #ccc;
	width: 100%;
}
section {
	margin: 30px 0;
}
article {
	margin: 20px 0; 
}
article p {
	margin: 10px 0;
}
legend {
	font-size: 120%;
}
#container {
	position: relative;
	padding-left: 260px;
	min-width: 700px;
}
#nav-wrap {
	height: 100px;
	width: 300px;
	background: no-repeat top left url(../img/header.png);
	position: absolute;
	top: -65px;
	left: -35px;
	z-index: 40;
}
#navigation {
	position: fixed;
	font-size: 120%;
	top: 0;
	left: 0;
	height: 100%;
	width: 200px;
	margin: 0 20px;
	z-index: 50;
	background-color: #aa0000;
	background-image: -moz-linear-gradient(left, #aa0000, #990000); /* FF3.6 */
	background-image: -ms-linear-gradient(left, #aa0000, #990000); /* IE10 */
	background-image: -o-linear-gradient(left, #aa0000, #990000); /* Opera 11.10+ */
	background-image: -webkit-gradient(linear, left top, right top, from(#aa0000), to(#990000)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(left, #aa0000, #990000); /* Chrome 10+, Saf5.1+ */
	background-image: linear-gradient(left, #aa0000, #990000);
	background-image: url(../img/texture.png);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#aa0000', EndColorStr='#990000'); /* IE6–IE9 */
	border-left: 1px #a00 solid;
	border-right: 1px #a00 solid;
	box-shadow: 1px 0px 7px #555;
	-webkit-box-shadow: 1px 0px 7px #555;
	-moz-box-shadow: 1px 0px 7px #555;
}
#navigation h1 {
	margin: 10px -30px;
	text-align: center;
}
#navigation h1 a, header h1 a:visited {
	color: #fff;
	display: block;
	text-indent: -5000px;
	font-size: 40px;
	font-family: "BIRTHOFAHERORegular";
	background: no-repeat center top url(../img/logo.png);
}
#navigation h3 {
	font-size: 180%;
	text-align: center;
	color: #6295a3;
	text-shadow: 0 2px 2px rgba(0,0,0,.6);
	margin: 20px 0 10px 0;
}
#navigation nav a, #navigation nav a:visited, #mainNav a, #mainNav a:visited {
	color: #fff;
	text-shadow: none;
}
#navigation nav a:hover, #mainNav a:hover {
	color: #f00;
}
#mainNav {
	margin: 0 0 20px 5px;
	font-size: 180%;
}
#mainNav li {
	margin: 10px 0;
	list-style: none;
}
#mainNav li a {
	background: no-repeat center left;
	padding: 2px 0 2px 36px;
}
#mainNav li a:hover {
	color: #f99;
}

#categories, #filters li {
	position: relative;
}
#categories .reset,  #filters .reset {
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	left: 0;
	text-indent: -5000px;
	background: no-repeat center url(../img/icons/remove_category.png);
}
#main {
	margin: 65px 40px 20px 0;
}
#main > header {
	position: fixed;
	z-index: 10;
	padding: 10px 10px 5px 260px;
	margin: 0 0 0 -260px;
	/*background: rgb(255, 255, 255);
		background: rgba(255, 255, 255, 0.7);
		-moz-box-shadow: 0 3px 10px #fff;
		-webkit-box-shadow: 0 3px 10px #fff;
		box-shadow: 0 3px 10px #fff;*/
	width: 100%;
	top: 0;
	color: #b00;
	background: url(../img/background.jpg) repeat-x bottom left;
	overflow: hidden;
	min-width: 960px;
}
#main > header.hover {
	box-shadow: 25px 2px 10px rgba(0,0,0,.3);
	-moz-box-shadow: 25px 2px 10px rgba(0,0,0,.3);
	-webkit-box-shadow: 25px 2px 10px rgba(0,0,0,.3);
}
#main > header h2 {
	font-size: 40px;
	float: left;
	margin: -10px 5px 0 0;
}
#main > header h2.gallery, #main > header h2.blog, #main > header h2.resume, #main > header h2.project, #main > header h2.bookmark, #main > header h2.contact, #main > header h2.activity {
	background: no-repeat center left;
	padding-left: 40px;
}
#main > header h2.gallery { background-image: url(../img/icons/photography.png); }
#main > header h2.blog { background-image: url(../img/icons/comment.png); }
#main > header h2.resume { background-image: url(../img/icons/id.png); }
#main > header h2.project { background-image: url(../img/icons/pushpin-2.png); }
#main > header h2.bookmark { background-image: url(../img/icons/book.png); }
#main > header h2.contact { background-image: url(../img/icons/envelope.png); }
#main > header h2.activity { background-image: url(../img/icons/rss.png); }
#mainNav .gallery a { background-image: url(../img/icons/photography-invert.png); }
#mainNav .blog a { background-image: url(../img/icons/comment-invert.png); }
#mainNav .resume a { background-image: url(../img/icons/id-invert.png); }
#mainNav .project a { background-image: url(../img/icons/pushpin-2-invert.png); }
#mainNav .bookmark a { background-image: url(../img/icons/book-invert.png); }
#mainNav .contact a { background-image: url(../img/icons/envelope-invert.png); }
#main > header time {
	margin: 0px 300px 0 0;
	color: #444;
}
#main h3, #main section > h1, #main section > header h1 {
	font-size: 20px;
	margin: 30px -40px 20px -260px;
	padding: 3px 3px 1px 260px;
	color: #fff;
	text-shadow: 0 0 2px #a33;
	/*background-color: rgba(160,0,0,.5);*/
	background-image: -moz-linear-gradient(left, rgba(160,0,0,.5), rgba(255, 255, 255, 0)); /* FF3.6 */
	background-image: -ms-linear-gradient(left, rgba(160,0,0,.5), rgba(255, 255, 255, 0)); /* IE10 */
	background-image: -o-linear-gradient(left, rgba(160,0,0,.5), rgba(255, 255, 255, 0)); /* Opera 11.10+ */
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(160,0,0,.5)), to(rgba(255, 255, 255, 0))); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(left, rgba(160,0,0,.5), rgba(255, 255, 255, 0)); /* Chrome 10+, Saf5.1+ */
	background-image: linear-gradient(left, rgba(160,0,0,.5), rgba(255, 255, 255, 0));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(160,0,0,.5)', EndColorStr='rgba(255, 255, 255, 0)'); /* IE6–IE9 */
	 -moz-box-shadow: inset 0px 1px 2px #999; /* FF3.5+ */
  -webkit-box-shadow: inset 0px 1px 2px #999; /* Saf3.0+, Chrome */
          box-shadow: inset 0px 1px 2px #999; /* Opera 10.5, IE9, Chrome 10+ */
}
#main h4 {
	font-weight: bold;
	font-size: 15px;
}
#main h4 span {
	display: block;
	font-size: 80%;
}

.cake-debug, .cake-sql-log {
	margin-left: 220px;
}
.activity span {
	padding: 0 2px;
}
.activity li {
	margin: 5px 0;
}
.resumes article .projects {
	display: none;
}
.resumes .projects li {
	list-style: none;
	display: inline-block;
	margin: 5px;
}

.paging p {
	float: right;
}
a.readmore {
	font-size: 80%;
}

#flashMessage {
	color: #f00;
	padding: 10px;
	border: dashed 2px #fcc;
	background: #fee;
	display: inline-block;
}

/* Radial Plugin */
#radial_container {
	position: absolute;
	z-index: 20;
	right: 0;
	top: -65px;
	width: 360px;
	height: 345px;
	overflow: hidden;
	background: url(../img/arrows.png) no-repeat 10px right;
}
#radial_container .arrow {
	float: right;
	text-decoration: none;
	font-weight: bold;
	position: absolute;
	z-index: 10;
}
#radleft {
	top: 11px;
	right: 45px;
}
#radright {
	top: 42px;
	right: 10px;
}
.my_class {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 3px solid #000;
	padding: 5px;
	background: #fff;
	box-shadow: 1px 1px 2px #666;
	-moz-box-shadow: 1px 1px 2px #666;
	-webkit-box-shadow: 1px 1px 2px #666;
	width: 200px;
	height: 160px;
}
.radial_div {
	opacity: .4;
}
.radial_div_item {
	margin: -80px 100px 80px -100px;
}

/* Gallery */
.gallery {
	overflow: hidden;
	margin: 0 -40px 0 -10px;
}
.gallery li {
	float: left;
	margin: 10px;
	list-style: none;
	position: relative;
	background: #fff;
	padding: 5px;
	border: solid 3px #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 1px 1px 2px rgba(0,0,0,.8);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.8);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.8);
}
.gallery li img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 200px;
	height: 160px;
	margin: 5px;
	
}
.gallery li a {
	font-weight: bold;
	display: block;
	width: 160px;
	height: 80px;
	padding: 40px 20px;
	background: rgba(0,0,0,.3);
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 16px;
	text-shadow: 0 1px 1px rgba(0,0,0,.7);
	position: relative;
	z-index: 2;
}	
.gallery li a:hover {
	background: rgba(0,0,0,.7);
}
.gallery li a span {
	display: block;
	font-size: 70%;
}
.reset {
	text-align: center;
	display: none;
}

/* Paging */
/*a.asc:after {
	content: ' ⇑';
}
a.desc:after {
	content: ' ⇓';
}*/

.paging, .sorting {
	font-weight: bold;
	margin: 0 10px 10px;
	display: inline-block;
	background: rgba(0,0,0,.3);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 4px;
	position: relative;
     -moz-box-shadow: inset 0 0 1px #000, inset 0 1px 2px rgba(0,0,0,.7), 0 1px 2px rgba(255,255,255,.7); 
  -webkit-box-shadow: inset 0 0 1px #000, inset 0 1px 2px rgba(0,0,0,.7), 0 1px 2px rgba(255,255,255,.7); 
          box-shadow: inset 0 0 1px #000, inset 0 1px 2px rgba(0,0,0,.7), 0 1px 2px rgba(255,255,255,.7);
}
.sorting {
	float: right;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-right: 300px;
	margin-left: 55px;
}
.sorting span {
	position: absolute;
	right: 100%;
	white-space: nowrap;
	margin-top: 3px;
	margin-right: 5px;
}
.paging span, .sorting a {
	display: inline-block;
	padding: 2px 3px;
	background: #ccc;
	border-top: 1px solid #F3F1E4;
	border-bottom: 1px solid #F3F1E4;
	margin-right: 1px;
     -moz-box-shadow: 0px 0px 2px rgba(0,0,0,.7); 
  -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.7); 
          box-shadow: 0px 0px 2px rgba(0,0,0,.7);
		  background-color: #F3F1E4;
		  background-image: -webkit-gradient(linear, left top, left bottom, from(#F3F1E4), to(#D4D3C9)); 
		  background-image: -webkit-linear-gradient(top, #F3F1E4, #D4D3C9); 
		  background-image:    -moz-linear-gradient(top, #F3F1E4, #D4D3C9); 
		  background-image:     -ms-linear-gradient(top, #F3F1E4, #D4D3C9); 
		  background-image:      -o-linear-gradient(top, #F3F1E4, #D4D3C9); 
		  background-image:         linear-gradient(top, #F3F1E4, #D4D3C9);
		            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F3F1E4', EndColorStr='#D4D3C9'); 
}
.paging span {
	padding: 2px 5px;
}
.paging a {
	padding: 3px 5px;
	margin: -3px -5px;
}
.paging span:first-child, .paging span:first-child a {
-webkit-border-top-left-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-moz-border-radius-topleft: 15px;
-moz-border-radius-bottomleft: 15px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
margin-left: 0;
padding-left: 2px;
}
.paging span:first-child a {
margin-left: -2px;
}
.paging span:last-child, .paging span:last-child a {
-webkit-border-top-right-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
-moz-border-radius-topright: 15px;
-moz-border-radius-bottomright: 15px;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
	margin-right: 0;
	padding-right: 2px;
}
.paging span:last-child a {
	margin-right: -2px;
}
.sorting a:first-of-type {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.sorting a:last-child {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-right: 0;
}
.sorting a.asc, .sorting a.desc, .paging .current, .sorting a:hover, .paging a:hover, .sorting .current {
background-color: #D4D3C9;
background-image: -webkit-gradient(linear, left top, left bottom, from(#D4D3C9), to(#F3F1E4)); 
background-image: -webkit-linear-gradient(top, #D4D3C9, #F3F1E4); 
background-image:    -moz-linear-gradient(top, #D4D3C9, #F3F1E4); 
background-image:     -ms-linear-gradient(top, #D4D3C9, #F3F1E4); 
background-image:      -o-linear-gradient(top, #D4D3C9, #F3F1E4); 
background-image:         linear-gradient(top, #D4D3C9, #F3F1E4);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D4D3C9', EndColorStr='#F3F1E4'); 
}
/** Blog && Comments **/
.posts article, #comments li {
	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 20px 0;
	border: 1px solid rgba(0,0,0,.1);
	background: rgba(150,150,150,.1);
	box-shadow: inset 0 1px 4px rgba(0,0,0,.1), 0 1px 2px rgba(255,255,255,.3);
}
.posts article header, #comments li header {
	margin: -25px 15px 0;
}
#comments ul {
	margin-left: 0;
}
#comments li {
	list-style: none;
}
#comments li h2 {
	font-size: 140%;
	color: #933;
}
article hr {
	display: none;
}
article header h1 {
	font-size: 180%;
	text-align: left;
	color: #fff;
	text-shadow: 0 2px 3px rgba(0,0,0,.4);
	margin: 0;
	font-family: inherit;
}
article header h1 a {
	text-shadow: 0 2px 3px rgba(0,0,0,.4);
}
article header time {
	margin-top: -14px;
}
article header a, article header a:visited {
	color: #933; 
	text-decoration: none;
	text-shadow: 0 1px 2px #fff;
}
article header a:hover {
	color: #e11;
}

.activity li div {
	display: none;
}
.activity li div img {
	width: 200px;
	height: 160px;
}

.input input, textarea {
	background: rgba(0,0,0,.1);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
	border: 1px solid rgba(0,0,0,.1);
	border-top-color: rgba(0,0,0,.3);
	box-shadow: 0 1px 2px rgba(255,255,255,.5), inset 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(255,255,255,.5), inset 0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 3px rgba(255,255,255,.3), inset 0 1px 2px rgba(0,0,0,.2);
}
input, textarea, label {
	font-size: 120%;
}
.input {
	margin: 10px 0;
}
.checkbox input {
	float: left;
	margin-right: 5px;
}
label {
	display: block;
	font-weight: bold;
	margin: 2px 0;
}
.required label:after {
	content: '*';
	color: red;
}
.error-message {
	color: red;
	margin-top: 2px;
}
#related section {
	margin: 0;
}
#related section h2 {
	font-size: 180%;
	text-align: center;
}
#related.half section {
	width: 50%;
	float: left;
}
#related section ul {
	padding: 10px 0;
}
#related section li {
	margin: 10px 0;
}
#description {
	font-size: 120%;
}
#stats {
	margin: 10px 0;
}
#stats li {
	float: left;
	width: 50%;
	font-size: 130%;
	list-style: none;
}
#stats li p, #stats li a {
	display: block;
	background: no-repeat left center;
	padding: 10px 3px 10px 40px;
}
#stats .downloads a, #stats .downloads p { background-image: url(../img/icons/floppy.png); }
#stats .repo a, #stats .repo p { background-image: url(../img/icons/cloud.png); }
#stats .wiki a, #stats .wiki p { background-image: url(../img/icons/info.png); }
#stats .bugs a, #stats .bugs p { background-image: url(../img/icons/bug.png); }
#stats .url a, #stats .url p { background-image: url(../img/icons/globe.png); }
#stats .account a, #stats .account p { background-image: url(../img/icons/id.png); }
#stats .organization a, #stats .organization p { background-image: url(../img/icons/suitcase.png); }
#stats .category a, #stats .category p { background-image: url(../img/icons/tag.png); }
#stats .updated a, #stats .updated p { background-image: url(../img/icons/clock.png); }
#stats .followers a, #stats .followers p { background-image: url(../img/icons/eye.png); }
#stats .forks a, #stats .forks p { background-image: url(../img/icons/collapse.png); }
#stats .milestones a, #stats .milestones p { background-image: url(../img/icons/clipboard.png); }

#accounts a {
	display: block;
	padding: 7px 0 7px 40px;
	margin: 0;
	background: no-repeat left center;
}
#accounts .linkedin a { background-image: url(../img/accounts/linkedin.png); }
#accounts .github a { background-image: url(../img/accounts/github.png); }
#accounts .codaset a { background-image: url(../img/accounts/codaset.png); }
#accounts .deviantart a { background-image: url(../img/accounts/deviantart.png); }
#accounts .flickr a { background-image: url(../img/accounts/flickr-1.png); }
#accounts .picasa a { background-image: url(../img/accounts/picasa.png); }
#accounts .photobucket a { background-image: url(../img/accounts/photobucket.png); }
#accounts .delicious a { background-image: url(../img/accounts/delicious.png); }

.ui-tooltip {
	text-align: center;
}
.ui-tooltip img {
	display: inline;
	margin: 5px;
}

#fancybox-content h2 {
	text-align: center;
	margin-bottom: 5px;
	text-shadow: 0px 1px 2px rgba(0,0,0,.3);
}
#fancybox-content input, #fancybox-content textarea {
	width: 97%;
}
#fancybox-content .submit input {
	width: auto;
}

/*
 * Non-semantic helper classes: please define your styles before this section.
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/*
 * media queries for responsive design
 * these follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/*
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
  aside#navigation, .sorting, .download, .pagination { display: none; }
  #container { padding-left: 40px; }
  #main > header { position: static; }
}

